@media(max-width:425px){
    .linksTopo{
        font-size:12px;
    }
    .conteudo{
        height:200px;
    }
    header {
        display:flex;
        flex-wrap:wrap;
    }
    .conteudo h1{
        font-size:16px;
    }
    .card{
        width:100%;
    }
    .sobreEspecialidades h1{
        font-size:22px;
    }
  
    
}

@media(max-width:768px){
    .conteudo{
        height:300px;
    }
    .listaImagem img{
        display:none;
    }
    .card{
        width:50%;
    }
    header {
        display:flex;
        flex-wrap:wrap;
    }
    .linksEspecialidades{
        display:flex;
        flex-wrap: 1;
    }
}
@media(max-width:1024px){
    .conteudo{
        height:400px;
    }
    .card{
        width:33%;
    }
    header {
        display:flex;
        flex-wrap:wrap;
    }
}

header{
    margin:0 auto;
    background-color: aqua;
    align-items: center;
    display:flex;
    justify-content: space-around;
}

body{
    height:1024px;
    color:#0000008c;
    font-family:'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
nav ul{
    display:flex;
}
nav li{
    color:#fff;
    margin:10px;
    list-style-type: none;
}

nav li a{
    text-decoration:none;
}

nav li a:hover{
    color:green;
}

.container{
    margin:0 auto;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}


.container img{
    width:200px;
    height:150px;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Define a cor para as linhas pares */
  }

tr:nth-child(odd){
    background-color: bisque;
}

th{
    background-color: aquamarine;
    color: #fff;
    padding:5px;
}

table{
    text-align: center;
    border-collapse: collapse;
    width:50%;
}

.especialidades{
    text-align:center;
}
footer{
    padding:20px;
    text-align:center;
    background-color:darkolivegreen
}
a{
    text-decoration: none;
    :visited
}